{% extends 'base.html' %}


{% block content %}

    <div class="form">
        <h2>Inscription</h2>

        <form method="post">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="field_form">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" >S’inscrire</button>
        </form>
    </div>

{% endblock content %}