{% extends 'base.html' %}


{% block content %}

    <div class="form">
        <h2>Écrire un billet</h2>

        <form method="post" enctype="multipart/form-data">
            {{ blog_form.as_p }}
            
            {% comment %} {% for field_name, field in blog_form.fields.items %}
                <div class="field_form">
                    {{ field.label }}
                    {{ field }}
                </div>
            {% endfor %} {% endcomment %}

            {{ photo_form.as_p }}
            {% csrf_token %}
            <button type="submit" >Publier</button>
        </form>
    </div>
    
{% endblock content %}