
{% extends 'base.html' %}


{% block content %}

    <div class="home">

        <h2>Photos</h2>

        <div class="gallery">
        {% for photo in photos %}
            <div class="picture_cap">
                <img src="{{ photo.image.url }}">
                <p>{{ photo.caption }}</p>
            </div>
        {% endfor %}
        </div>
        
        <br>
        <hr>

        <h2>Blog</h2>

        <div class="gallery">
            {% for blog in blogs %}
                <div class="post">
                    <a href="{% url 'view_blog' blog.id %}">
                        <h4>Billet : {{ blog.title }}</h4>
                        <img src="{{ blog.photo.image.url }}">
                        {% if blog.word_count > 0 %}
                            <p> {{ blog.word_count }}/5000 </p>
                        {% else %}
                            <p> 0/5000 </p>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock content %}