/* variables */
:root {
    --minh: 900px;
  }

body, html {
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

.page {
    background-color: lightgrey;
    margin: 0 auto;
    padding: 0;
    display: flex;
    /* align-items: flex-start; */
    border: 2px black double;
    margin-bottom: 10px;
    width: 80%;
    height: 900px;
    overflow: hidden;
}
.sidebar, .main {
    flex-grow: 1;
    height: 100%;
}
.sideBar {
    margin-left: 0;
    width: 30%;
    background-color: rgba(11, 55, 61, 0.9);
    color: white;
    padding: 20px;
    font-size: 18px;
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

/* -------- In SideBar ------------ */
.deconnect {
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer; 
    padding: 0; 
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
    color: white;
    display: inline;
    margin: 10px;
    margin-top: 50px;
}
.deconnect:hover {
    text-decoration: underline;
    color: orangered;
}

.profile_pic_contain {
    width: 75%;
    height: auto;
    margin: auto;
    border-radius:150px;
    overflow: hidden;

}
.profile_pic_contain img {
    width: 100%;
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
.profile_pic_contain:hover img {
    transform: scale(1.5);
}
.sideBar a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

.sideBar a:hover {
    text-decoration: underline;
    color: orangered;
}


.gallery {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
}

/* -------- FLUX ------------ */
.post {
    width: 250px;
    height: 250px;
    margin: auto;
    text-align: center;
}
.post p {
    margin: auto;
}
.post img {
    width: 50%;
    height: auto;
    margin: auto;
    text-align: center;
    border-radius: 7px;
}
a {
    text-decoration: none;
    color: black;
}

.post a:hover {
    color: orangered;
}

/* -------- BLOG DESCRIPTION ------------ */
.blog_description {
    text-align: center;
}
.blog_description h2 {
    margin-top: 50px;

}
.blog_description img {
    width: 80%;
    border-radius: 7px;
}
.blog_description button {
    margin-top: 50px;
    background-color: black;
    border: 2px solid black;
    border-radius: 7px;
}
.blog_description button a {
    margin-right: 0;
    text-align: right;
    text-decoration: none;
    color: white;
    font-style: none;
}
.descritption_blog {
    text-align: left;
    margin: auto;
    margin-top: 40px;
    width: 90%;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    min-height: 100px;
}

/* -------- FORMS ------------ */
.form {
    margin-top: 0;

}
h2 {
    width: 100%;
    padding: 10px;
    background-color: rgb(65, 48, 48);
    color: white;
    text-align: center;
    margin-top: 0;
}
.form h3 {
    width: 90%;
    margin: auto;
    text-align: left;
}
.form form {
    margin-left: 20px;
    padding: 20px;
}
.form button {
    background-color: black;
    color: white;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 7px;
    margin-top: 20px;
    margin-left: -20px;
}
.field_form {
    margin: 20px;
}


.picture_cap_mutiple {
    margin: 50px;
}



/* -------- OTHERS ------------ */
.errorlist {
    color: red;
    list-style: none;
}

.footer {
    margin-top: auto;
    padding: 10px;
    text-align: right;
}  